.contact-section {
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    max-width: 500px;
}

.contact-section h2 {
    font-family: 'Roboto Mono', monospace;
    color: black;
    margin-bottom: 20px;
}

.contact-section form {
    margin-top: 10px;
}

.contact-section input {
    padding: 10px;
    margin-right: 0;
    border: 2px solid black;
    border-radius: 5px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

.contact-section button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-section button:hover {
    background-color: #016d6f;
}