body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    color: #39FF14;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
}

button:hover {
    background-color: #39FF14;
}